.friendlist-container {
  position: relative;
  top: 2%;
}

.friend {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 5%;
}

.friend-details {
  margin-left: 1px;
}

.friend-details h5,
.friend-details p {
  margin: 0;
}

.friend-details h5:hover{
  color: #ddd;
  cursor: pointer;
}

.friend-details p{
  text-align: start;
}

.friend img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.friend h5 {
  margin: 0;
}

.unfollow-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: 1px solid red;
}
