<div class="container-fluid" id="logoutContainer">
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col-10">


          <form id="logoutForm">
            <div class="mb-10">
              <h2 id="logoutText" class="text-dark text-muted">Wollen Sie sich ausloggen?</h2>
            </div>
            <div class="row">
              <div class="col-6">
                <button id="logoutButton" class="btn btn-info w-100" type="button" (click)="logout()">Logout</button>
              </div>
              <div class="col-6">
                <button id="notLogoutButton" class="btn btn-info w-100" type="button" (click)="notLogout()">
                  <small>Angemeldet bleiben</small>
                </button>
              </div>
            </div>
            <div class="row mt-3">
            </div>
          </form>


    </div>
    <div class="col"></div>
  </div>
</div>
