<img src="./assets/logo.png" alt="Logo"  class="float-end img-fluid mt-2" style="margin-right: 15px; max-width: 200px; max-height: 150px">
<div class="container-fluid" id="forgotPasswordContainer">
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col-4">
      <div class="card shadow">
        <div class="card-body">
          <form>
            <div class="mb-3">
              <h2 id="forgotPasswordText" class="text-dark text muted">Forgot Password</h2>
            </div>
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" placeholder="Email eingeben" class="form-control" name="email" [(ngModel)]="email" >

            </div>


            <button type="button" id="forgotPasswordButton" class="btn btn-info w-100" (click)="forgotPassword()" >Passwort zurücksetzen</button>
            <div class="row mt-3">
              <div class="col-md-6">
                <a href="/login" style="text-decoration: none">Zurück zum Login</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col"></div>

  </div>
</div>
