#forgotPasswordContainer{
  align-items: center;
  padding-top: 13%;
  height: 100vh;
}

#forgotPasswordText{
  text-align: center;
}

#forgotPasswordButton{
  background-color: #1b71ef;
  font-weight: bold;
  color: white;
}
