<div class="card-container" *ngFor="let post of posts$ | async" >
  <div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <img [src]="post.contentImage" class="img-fluid"  *ngIf="post.contentImage != ''"/>
    </div>

    <div class="card-body text-start">
      <h5 class="card-title">{{post.username}}</h5>
      <hr>
      <p class="card-text">
        {{post.contentText}}
      </p>

    </div>
    <div class="card-footer d-flex flex-row justify-content-between fixed-container">
      <div class="post-interact">
        <app-like-button [postID]="post.postID" [postUserID]="post.userID" [buttonStatus]="post.haveILiked">
        </app-like-button>
        <button class="btn btn-sm btn-outline-primary" (click)="changeToCommentComponent(post.postID, post.userID)">
          <i class="bi bi-chat-left-dots"></i>
        </button>
      </div>
      <p class="footer-likes">{{post.likeCount}} likes</p>
      <p class="footer-date">{{post.formattedPostDate}}</p>
    </div>

  </div>
</div>
